@{
    Layout = "~/Views/Shared/Adminlayout/AdminLayout.cshtml";
}
@using System.Data;
@model DataTable

<!--== BODY INNER CONTAINER ==-->
<div class="sb2-2">
    <!--== breadcrumbs ==-->
    <div class="sb2-2-2">
        <ul>
            <li>
                <a href="#"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
            </li>
            <li class="active-bre">
                <a href="#"> College List</a>
            </li>
            <li class="page-back">
                <a asp-area="Admin"  asp-controller="Admin" asp-action="Dashboard" ><i class="fa fa-backward" aria-hidden="true"></i> Back</a>
            </li>
        </ul>
    </div>


    @*<!--== User Details ==-->
    <div class="sb2-2-3">
        <div class="row">
            <div class="col-md-12">
                <div class="box-inn-sp">
                    <div class="inn-title">
                        <h4>Google Map</h4>
                        <p>Education is about teaching, learning skills and knowledge.</p>
                    </div>
                    <div class="tab-inn">
                        <div class="table-responsive table-desi tab-map">
                       <h1>google map here</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>*@

    <!--== User Details ==-->
    <div class="sb2-2-3">
        <div class="row">
            <div class="col-md-12">
                    <div class="portlet-title">
                        <div class="caption">

                            <span class="caption-subject font-red sbold uppercase">
                               
                                @if (TempData["AlertMsg"] != null)
                                {

                                    <h4 class="alert text-success">@TempData["AlertMsg"]</h4>
                                }
                            </span>

                        </div>
                    </div>
                <div class="box-inn-sp">
                    <div class="inn-title">
                        <h4>College List</h4>
                    </div>
                    <div class="tab-inn">
                        <div class="table-responsive table-desi">
                            <div class="table-toolbar">

                                <div class="col col-md-4">
                                    <input type="search" id="myInput" class="border-dark   rounded-7" placeholder="Search...">
                                </div>

                            </div>
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th class="text-center">No</th>
                                        <th class="text-center">College_Name</th>
                                        <th class="text-center">collegeType</th>
                                        @*<th class="text-center">Total student</th>*@
                                        <th class="text-center">Courses</th>
                                        <th class="text-center">Average_Fees</th>
                                        @*<th class="text-center" >Totalseat</th>*@
                                        <th class="text-center">City</th>
                                        <th class="text-center">State</th>
                                        <th class="text-center">Edit</th>
                                        <th class="text-center">Delete</th>
                                    </tr>
                                </thead>
                                <tbody id="myTable">
                                    @{
                                        int i = 1;
                                    }
                                    @foreach (DataRow dr in Model.Rows)
                                    {
                                        <tr>
                                            <td>@i</td>
                                            <td>@dr["College_Name"]</td>
                                            <td>@dr["collegeType"]</td>
                                            @*<td>@dr["Total_Student_Enrollments"]</td>*@
                                            <td>@dr["Courses"]</td>
                                            <td>@dr["Average_Fees"]</td>
                                            @*<td>@dr["Totalseat"]</td>*@
                                            <td>@dr["City"]</td>
                                            <td>@dr["State"]</td>

                                            <td>
                                                <a style="color:white" asp-controller="College" asp-action="Add" asp-route-Collegeid="@Convert.ToInt32(dr["Collegeid"])" class="btn btn-primary">Edit</a>
                                            </td>
                                            <td>
                                 
                                                <form method="post" asp-area="college" asp-controller="college" asp-action="Delete">
                                                    <input type="hidden" name="Collegeid" value="@Convert.ToInt32(dr["Collegeid"])" />
                                                    <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete : @dr["Collegeid"]')">Delete</button>
                                                </form>
                                              
                                            </td>
                                        </tr>
                                        i++;
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




@section Scripts{


    <script>
        $(document).ready(function () {
            $("#myInput").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#myTable tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>
   }