@using System.Data;
@model DataTable


<div class="search-top">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="search-form">
                    <form asp-controller="college" asp-action="search" >
                        <div class="sf-type col-md-7">
                            <div class="sf-input col-md-5">
                                <input type="text" id="sf-box" name="SearchName" placeholder="search College">
                            </div>
                            <div class="sf-input col-md-5">
                                <input type="text" id="sf-box" name="SearchCity" placeholder="search city">
                            </div>
                        </div>
                        <div class="sf-submit col-md-3">
                            <input type="submit" value="search">
                        </div>
                    </form>
                
                </div>
            </div>
        </div>
    </div>
</div>

<h4 class="container" >@TempData["noinput"]</h4>
<!-- POPULAR COURSES -->
<section class="pop-cour">
    <div class="container com-sp pad-bot-70">
        <div class="row">
            <div class="con-title">
                <h2>All <span>College/University</span></h2>
                <p>You can easily find engineering college in india and take admission your favorite college.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-7">
                @foreach (DataRow dr in Model.Rows)
                {
                    <div class="container">
                        <!--POPULAR COURSES-->
                        <div class="home-top-cour">
                            <!--POPULAR COURSES IMAGE-->
                            <div>
                                <div class="col-md-2">
                                    <img style="margin-top:140px" src="@dr["Imagepath"]" alt="">
                                </div>

                            </div>
                            <!--POPULAR COURSES: CONTENT-->
                            <div class="col-md-7 home-top-cour-desc">
                                <a >
                                    <h2>@dr["College_Name"]</h2>
                                </a>
                                <h5>@dr["City"], @dr["State"]</h5>

                                <p></p> <span class="home-top-cour-rat"> <i class="fa fa-rating" aria-hidden="true"></i>@dr["Rating"]</span>
                               <div class="pro-con-table">
                                <table class="bordered responsive-table">
                                    <tbody>
                                        <tr>
                                            <td colspan="2">Engineering</td>
                                        </tr>

                                        <tr>
                                            <td>Duration :</td>
                                            <td>4 Years</td>
                                        </tr>
                                        <tr>
                                            <td>Total Fees :</td>
                                            <td>Rs @dr["Average_Fees"]/-</td>
                                        </tr>
                                        <tr>
                                            <td>Website :</td>  
                                            <td> <a href="@dr["College_Website"]" target="_blank">@dr["College_Website"]</a> </td>
                                        </tr>
                                        <tr>
                                            <td>Placement : </td>
                                            <td>@dr["Placement"]</td>
                                        </tr>

                                    </tbody>
                                </table>
                                </div>


                                <div class="hom-list-share">
                                    <ul>
                                        
                                        <li><a asp-controller="College" asp-action="SingleCollege" asp-route-Collegeid="@Convert.ToInt32(dr["Collegeid"])"  > More Info..</a> </li>
                                        <li><a><i class="fa fa-eye" aria-hidden="true"></i>@dr["Totalseat"] Seat Aavailable</a> </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="col-md-2">
                                <iframe src="@dr["iframemap"]" width="@dr["iframewidth"]" height="@dr["iframeheight"]" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                            </div>
                        </div>
                    </div>
                }


            </div>
        </div>
    </div>
</section>
