@using System.Data;
@model DataTable

@foreach (DataRow dr in Model.Rows)
{

    <section>
        <div class="head-2">
            <div class="container">
                <div class="head-2-inn head-2-inn-padd-top">
                    <h1>@dr["College_Name"]</h1>
                    @*<p>Fusce id sem at ligula laoreet hendrerit venenatis sed purus. Ut pellentesque maximus lacus, nec pharetra augue.</p>*@
                    @*<div class="event-head-sub">
                <ul>
                <li>Students: 10,000</li>
                </ul>
                </div>*@
                </div>
            </div>
        </div>
    </section>

    <!--SECTION START-->
    <section>
        <div class="container com-sp pad-bot-70 pg-inn">
            <div class="row">
                <div class="cor">
                    <div class="col-md-7">
                        <div class="cor-mid-img">
                            <img src="~/images/Darshanbackground.jpg" alt="">
                        </div>
                        <div class="cor-con-mid">
                            <h2 style="color:red">@dr["College_Name"]</h2>

                            <div class="cor-p5">
                                <h3>College Details</h3>
                                <ul class="nav nav-tabs">
                                    <li class="active">
                                        <a data-toggle="tab" href="#home">
                                            <img src="~/images/icon/cor4.png" alt=""> <span>Details</span>
                                        </a>
                                    </li>
                                    <li><a data-toggle="tab" href="#menu1"><img src="~/images/icon/cor3.png" alt=""><span>Fees</span></a></li>
                                    @*<li><a data-toggle="tab" href="#menu2"><img src="~/images/icon/cor1.png" alt=""><span>Student Profile</span></a></li>*@
                                    <li><a data-toggle="tab" href="#menu2"><img src="~/images/icon/cor5.png" alt=""><span>How to Apply</span></a></li>
                                </ul>

                                <div class="tab-content">
                                    <div id="home" class="tab-pane fade in active">
                                        <div class="udb-sec udb-cour-stat">
                                            <h4> Details About College/University</h4>
                                            <div class="pro-con-table">

                                                <table class="bordered responsive-table">
                                                    <tbody>
                                                        <tr>
                                                            <td> <h5> College/University : </h5> </td>
                                                            <td> <h5>@dr["University"]</h5> </td>
                                                        </tr>
                                                        <tr>
                                                            <td> <h5>Courses : </h5> </td>
                                                            <td> <h5>@dr["Courses"]</h5> </td>
                                                        </tr>
                                                        <tr>
                                                            <td> <h5>Campus Size : </h5> </td>
                                                            <td> <h5>@dr["Campus_Size"]</h5> </td>
                                                        </tr>
                                                        <tr>
                                                            <td> <h5>Facilites : </h5> </td>
                                                            <td> <h5>@dr["Facilities"]</h5> </td>
                                                        </tr>
                                                        <tr>
                                                            <td> <h5>Total Student Enrollments : </h5> </td>
                                                            <td> <h5>@dr["Total_Student_Enrollments"]</h5> </td>
                                                        </tr>
                                                        <tr>
                                                            <td> <h5>Established Year: </h5> </td>
                                                            <td> <h5>@dr["Established_Year"]</h5> </td>
                                                        </tr>
                                                        <tr>
                                                            <td> <h5>Gender Accepted : </h5> </td>
                                                            <td> <h5>@dr["Genders_Accepted"]</h5> </td>
                                                        </tr>
                                                        <tr>
                                                            <td> <h5>Location : </h5> </td>
                                                            <td> <h5>@dr["City"], @dr["State"], @dr["Country"]</h5> </td>
                                                        </tr>
                                                        <tr>
                                                            <td> <h5>College Type : </h5> </td>
                                                            <td> <h5>@dr["college_Type"]</h5> </td>
                                                        </tr>
                                                        <tr>
                                                            <td> <h5>Max Placement : </h5> </td>
                                                            <td> <h5>@dr["Placement"]/-</h5> </td>
                                                        </tr>
                                                        <tr>
                                                            <td> <h5>Website : </h5> </td>
                                                            <td> <h5> <a href="@dr["College_Website"]" target="_blank">@dr["College_Website"]</a></h5> </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>



                                    <!--startmenu-->
                                    <div id="menu1" class="tab-pane fade">
                                        <h4>Total Fees</h4>
                                        <p>Total Fees of  Engineering is : Rs.@dr["Average_Fees"]/- per year.</p>
                                    </div>
                                    <div id="menu2" class="tab-pane fade">
                                        <h4>Click Here For Admission</h4>
                                        <a asp-controller="College" asp-action="Admission" asp-route-Collegeid="@Convert.ToInt32(dr["Collegeid"])" style="color:white" class="btn btn-primary">Apply For Admission</a>

                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="cor-side-com">
                            <iframe src="@dr["iframemap"]" width="500" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>
                        <div class="cor-side-com">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


}

