@{
    Layout = "~/Views/Shared/Adminlayout/AdminLayout.cshtml";
}
@using System.Data;
@model DataTable

<div class="sb2-2">
    <!--== breadcrumbs ==-->
    <div class="sb2-2-2">
        <ul>
            <li>
                <a href="#"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
            </li>
            <li class="active-bre">
                <a href="#"> Contact Send</a>
            </li>
            <li class="page-back">
                <a asp-area="Admin" asp-controller="Admin" asp-action="Dashboard"><i class="fa fa-backward" aria-hidden="true"></i>Back</a>
            </li>
        </ul>
    </div>

    <!--== User Details ==-->
    <div class="sb2-2-3">
        <div class="row">
            <div class="col-md-12">
                <div class="portlet-title">
                    <div class="caption">

                        <span class="caption-subject font-red sbold uppercase">

                            @if (TempData["Contactsendalert"] != null)
                            {

                                <h4 class="alert text-success">@TempData["Contactsendalert"]</h4>
                            }
                        </span>

                    </div>
                </div>


                <div class="box-inn-sp">
                    <div class="inn-title">
                        <h4>Contact Send Details</h4>
                        @*<p>All about students like name, student id, phone, email, country, city and more</p>*@
                    </div>
                    <div class="tab-inn">
                        <div class="table-responsive table-desi">
                            
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th class="text-center">ContactSend id</th>
                                        <th class="text-center">Name</th>
                                        <th class="text-center">Email</th>
                                        <th class="text-center">City</th>
                                        <th class="text-center">Country</th>
                                        <th class="text-center" >Message</th>
                                        <th class="text-center">Creationdate</th>
                                        <th class="text-center">Delete</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        int i = 1;
                                    }
                                    @foreach (DataRow dr in Model.Rows)
                                    {
                                        <tr>
                                            <td>@i</td>
                                            <td>@dr["Name"]</td>
                                            <td>@dr["Email"]</td>
                                            <td>@dr["City"]</td>
                                            <td>@dr["Country"]</td>
                                            <td>@dr["Message"]</td>
                                            <td>@Convert.ToDateTime(dr["Creationdate"]).ToString("dd-MM-yyyy")</td>
                                            <td>
                                                <form method="post" asp-area="ContactSend" asp-controller="ContactSend" asp-action="Delete">
                                                    <input type="hidden" name="ContactId" value="@Convert.ToInt32(dr["ContactId"])" />
                                                    <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete : @dr["ContactId"]')">Delete</button>
                                                </form>

                                            </td>
                                        </tr>
                                        i++;
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
